/* global*/
body {
  padding-top: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.app {
  background: var(--bg-color-primary);
  color: var(--color-primary);
}

img {
  width: 100%;
}

input {
  font-size: 16px;
}
